{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style>
    img {
        display: block;
        margin: 0 auto;
        max-width: 70%;
    }
</style>
{% endblock %}


{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="slide-content">

            <h1> <strong>Overview:</strong> This runbook will outline the steps required to configure an ubuntu instance 
                on AWS with an NGINX application. </h1>

            <h2>Creating Ubuntu Server in AWS</h2>

            <ol> 
                <li>Create a new instance by using the Amazon EC2 </li>
                    <ol type="a">
                        <li>In your AWS environment click “Instances” → “Launch Instances” (the orange button)</li> 
                        <li>Give your instance a name under the “Names and tags”</li>
                        <li>Under the “Application and OS Images (Amazon Machine Image), select “Ubuntu Server 20.04 LTS (HVM), SSD Volume Type” </li>
                        <li>Choose the instance type you want (i.e. t2.micro)</li>
                        <li>Create a key pair</li>
                        <li>Under Network Settings, find the Firewall section and click “create security group”</li>
                
                            <ol type="i">
                                <li>Check all three boxes to create rules for SSH, HTTPs & HTTP traffic</li>
                            </ol>
                            <img src="{{ url_for('static', filename='img/step-1.svg') }}" alt="Vault">

                        <li>For the “Configure storage,” “Advanced details,” and “Summary” sections, use the default settings </li> 
                        <li>Click “Launch instance” at the bottom of the page</li> 
                        <li>Connect to the instance by clicking on the Instance ID → “Connect” → “Connect”</li>
                    </ol>
            </ol>
        </div>
    </div>
</div>

{% endblock %}

{% block next_page %}
<a href="{{ url_for('uc_01_section_02') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}